html{
    font-size: 1rem;
}
body{
    background-color: #e6e6e6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.fs{
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}
.red{
    color: #ff7f27;
}
.orange{
    background-color: #ffca18;
}
.img-con{
    width: 95%;
    height: 360px;
}
img{
    width: 100%;
    height: 100%;
}
.btn-2{
    background-color: #ff7f27;
    border-radius: 20px;
    padding: 10px 15px;
    color: white;
}
.btn{
    background-color: #ff7f27;
    border-radius: 20px;
    padding: 10px 15px;
    color: white;
}

header{
    background:  url("./imges/mphara\ hero\ pic.png") no-repeat ;
    background-size: cover;
    background-color: black;
    background-position: center;
    width: 100%;
    height: 650px;
}

nav{
    margin: auto;
    padding: 20px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 90%;
}
.nav-con{
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 30;
}
label #open, 
label #close{
    cursor: pointer;
    display: none;
    position: absolute;
}
#check{
    display: none;
}
#close{
    font-size: 2rem;
    font-weight: 600;
}
nav #open > div{
    border-top: 4px solid black;
    margin: 4px auto;
    width: 25px;
}
nav > ul{
    list-style-type: none;
    display: flex;
    width: 65%;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
}
.header-content{
    position: relative;
    height: 100%;
    margin: auto;
    max-width: 1200px;
    width: 90%;
}
.header-content div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}
div .p{
    font-size: 300%;
    font-weight: 750;
    width: 60%;
}
.header-content > p{
    text-align: end;
    width: 80%;
    margin: auto;
    font-size: 90%;
    letter-spacing: 1px;
    font-weight: 600;
}
.hero-1{
    margin: 20px auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    max-width: 1200px;
}
.hero-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.hero-con p{
    margin: auto;
    width: 70%;
    line-height: 28px;
    font-weight: 700;
    font-size: 130%;
    text-align: center;
}
button{
    border: none;
    border-radius: 25px;
    margin: 20px auto;
    color: white;
    padding: 15px 25px;
    background-color: #ff7f27;
}
.info-1{
    padding: 40px 20px;
    margin: auto;
    max-width: 1200px;
}
.info-1 .para{
    text-align: center;
    width: 90%;
    font-size: 105%;
    line-height: 23px;
    margin: auto;
    margin-bottom: 16px;
}
.two{
    border: 1px grey solid;
    border-right: none;
    border-left: none;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
.two > .para{
    width: 55%;
}
.p-2{
    font-weight: bold;
    font-size: 105%;
    text-align: center;
    width: 90%;
    line-height: 23px;
    margin: auto;
    margin-bottom: 20px;
}
.card-wrapper{
    margin: 30px auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 5%;
    max-width: 1200px;
}
.card{
    background-color: white;
    margin: 20px 0 20px 0;
}
.card .card-num{
    font-family: 'Times New Roman', Times, serif;
    color: #ff7f27;
    font-size: 7rem;
    margin: 25px auto;
}
.card-text{
    font-weight: 600;
    margin: 30px auto;
}
.c1{
    flex-basis: 35%;
}
.c2{
    flex-basis: 60%;
}
.footer{
    padding: 50px;
    background-color: #585858;
    color: white;
    
}
.footer-wrapper{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.footer h1{
    color: #ff7f27;
}
.footer-container{
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-container div{
    flex-basis: 30%;
}
.footer-container div p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 105%;
}
.footer-container div h4{
    margin-top: 10px;
}

.footer-container ul{
    flex-basis: 60%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.footer-container ul li{
    font-weight: 600;
}


@media screen and (max-width: 1000px) {
    .img-con{
        width: 120%;
        height: 320px;
    }
    nav > ul{
        width: 80%;
    }
    div .p{
        font-size: 270%;
        font-weight: 750;
        width: 75%;
    }
    .hero-con p{
        width: 80%;
    }
    .card .card-num{
        font-size: 6rem;
    }
    .footer-container div p{
        font-size: 102%;
    }
    
}


@media screen and (max-width: 769px){
    nav {
        position: relative;
    }
    label #open {
        display: block;
        z-index: 20;
        right: 1px;
        top: 20px;
    }
    #close{
        display: none;  
        z-index: 20;
        top: 20px;
        right: 1px;
        font-style: normal;
        color: white;
    }
    #check{
        display: none;
    }

    .nav-menu {
        display: block;
        background-color: #585858;
        opacity: .96;
        width: 102%;
        height: 98vh;
        border-radius: 10px;
        position: absolute;
        top: 20%;
        left: -130%;
        transition: all .3s;
        z-index: 10;
    }
    .nav-menu li {
        text-align: center;
        display: block;
        line-height: 10px;
        letter-spacing: 1px;
        margin: 65px 0;
        z-index: 25;
        color: white;
    }
    .nav-menu .btn{
        padding: 20px;
        border-radius: 30px;
        width: fit-content;
        margin: 65px auto;
    }
    #check:checked ~ ul {
        left: 3%;
    }
    #check:checked ~ label #open{
        display: none;
    }
    #check:checked ~ label #close{
        display: block;
    }




    div .p{
        font-size: 250%;
        width: 93%;
    }
    .img-con{
        width: 100%;
        height: 250px;
        margin: 30px auto;
    }
    .hero-1{
        flex-direction: column;
    }
    .hero-con p{
        font-size: 100%;
        width: 60%;
    }
    .fs{
        font-size: 250%;
        font-weight: 700;
    }
    .card-wrapper{
        gap: 5%;
    }
    .card{
        margin: 15px 0 15px 0;
    }
    .card .card-num{
        font-size: 4rem;
    }
    .card-text{
        padding: 10px;
    }
    .footer-container{
        align-items: flex-start;
        margin: 20px -30px;
    }
    .footer-container div{
        flex-basis: 60%;
    }
    .footer-container div p{
        font-size: 100%;
        margin-bottom: 40px;
    }
    .footer-container ul{
        flex-basis: 40%;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 100px;
    }
    .footer-container ul li{
        margin: 10px;
    }
}

@media screen and (max-width: 769px){
    div .p{
        font-size: 220%;
        width: 95%;
    }
    .card .card-num{
        font-size: 2.5rem;
        margin: 20px;
    }
    .card-text{
        margin: 10px auto;
    }
    .footer-container{
        align-items: flex-start;
    }
    .footer-container ul li{
        margin: 5px;
    }
}
