/* #myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
} */
html{
    font-size: 1rem;
}
body{
    background-color: #e6e6e6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.fs{
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}
.red{
    color: #ff7f27;
}
.orange{
    background-color: #ffca18;
}
.img-con{
    width: 95%;
    height: 360px;
}
img{
    width: 100%;
    height: 100%;
}
.btn-2{
    background-color: #ff7f27;
    border-radius: 20px;
    padding: 10px 15px;
    color: white;
}
.btn{
    background-color: #ff7f27;
    border-radius: 20px;
    padding: 10px 15px;
    color: white;
}

header{
    background:  url("./imges/mphara\ hero\ pic.png") no-repeat ;
    background-size: cover;
    background-color: black;
    background-position: center;
    width: 100%;
    height: 650px;
}

nav{
    margin: auto;
    padding: 20px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 90%;
}

nav > ul{
    list-style-type: none;
    display: flex;
    width: 65%;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
}
.header-content{
    position: relative;
    height: 100%;
}
.header-content div {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}
div .p{
    font-size: 300%;
    font-weight: 750;
    width: 60%;
}
.header-content > p{
    text-align: end;
    width: 80%;
    margin: auto;
    font-size: 90%;
    letter-spacing: 1px;
    font-weight: 600;
}
.hero-1{
    margin: 20px auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.hero-con{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.hero-con p{
    margin: auto;
    width: 70%;
    line-height: 25px;
    font-weight: 700;
    font-size: 130%;
    text-align: center;
}
button{
    border: none;
    border-radius: 25px;
    font-size: 103%;
    margin: 50px auto;
    color: white;
    padding: 15px 25px;
    background-color: #ff7f27;
}
.info-1{
    padding: 40px 20px;
}
.info-1 .para{
    text-align: center;
    width: 90%;
    font-size: 105%;
    line-height: 23px;
    margin: auto;
    margin-bottom: 16px;
}
.two{
    border: 1px grey solid;
    border-right: none;
    border-left: none;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
.two > .para{
    width: 55%;
}
.p-2{
    font-weight: bold;
    font-size: 105%;
    text-align: center;
    width: 90%;
    line-height: 23px;
    margin: auto;
    margin-bottom: 20px;
}
.card-wrapper{
    margin: 30px auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 5%;
}
.card{
    background-color: white;
    margin: 20px 0 20px 0;
}
.card .card-num{
    font-family: 'Times New Roman', Times, serif;
    color: #ff7f27;
    font-size: 7rem;
    margin: 25px auto;
}
.card-text{
    font-weight: 600;
    margin: 30px auto;
}
.c1{
    flex-basis: 35%;
}
.c2{
    flex-basis: 60%;
}
.footer{
    padding: 50px;
    background-color: #585858;
    /* height: 100px; */
    color: white;
}
.footer h1{
    color: #ff7f27;
}
.footer-container{
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* font-size: 90%;
line-height: 18px; */
.footer-container div{
    flex-basis: 30%;
}
.footer-container div p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 105%;
}
.footer-container div h4{
    margin-top: 10px;
}

.footer-container ul{
    flex-basis: 60%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.footer-container ul li{
    font-family: 'Times New Roman', Times, serif;

}
/* svg{
    position: absolute;
    z-index: 2;
}
.svg{
    z-index: 10;
    color: #000;
    height: 50px;
    width: 100%;
}
 */
